<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'MOVIE_LIST.moviesList'|translate}}</ion-title>

    <ion-icon size="medium" slot="end" name="language-sharp"
    (click)="presentLanguageActionSheet()"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ data.title }}</ion-card-title>
      <ion-card-subtitle>{{ data.description}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let movie of data.movies">
          <ion-label>{{ movie.title }}</ion-label>
          <ion-note slot="end">{{ movie.releaseYear }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
